#root {
    display: flex;
    justify-content: center;
    background-color: #f6f7fb;
    min-height: 500px;
    padding: 36px;
    color: #434a54;
    font-family: "National 2", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.workout-app {
    width: 800px;
    background-color: #ffffff;
    padding: 36px;
    border: 1px solid #aab2bd;
}
